@font-face {
    font-family: Segoe_ui;
    src: url(./fonts/Segoe_ui.woff);
  }
  body{
      font-family: Segoe_ui !important;
      background: #e8e8ff !important;
  }
.pepar{
    background: #fff;
    padding-top: 12px!important;
}
.ant-form-item {
    margin-bottom: 5px !important;
}
.loginbutton{
    color: #5b626d;
    height: 49px;
    font-weight: bold;
    border-color: #e9e9e9;
    border-width: 2px;
    background-color: transparent;
}
.loginbutton:hover, .loginbutton:focus{
    color: #5b626d;
    font-weight: bold;
    border-color: #e9e9e9;
    border-width: 2px;
    background-color: transparent;
}
.registerbutton {
    color: #fff;
    height: 30px;
    height: 49px;
    margin-top: 25px;
    font-weight: bold;
    border-color: rgb(20, 21, 73);
    border-width: 2px;
    background-color: rgb(20, 21, 73);
}
.registerbutton:hover, .registerbutton:focus  {
    color: #fff;
    height: 30px;
    height: 49px;
    font-weight: bold;
    border-color: rgb(20, 21, 73);
    border-width: 2px;
    background-color: rgb(20, 21, 73);
}
.orloginwith{
    font-size:10px !important;
    color: #5b626d;
    padding: 25px;
    text-align: center;
}
.loginwithfb, .loginwithg {
    width: 50%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    float: left;
    margin: auto;
    text-align: center;
}
.loginwithfb{
    border-right: 1px solid #ccc;
}
.terms{
    font-size: 12px !important;
    text-align: center;
}
.loginarea{
    display: block;
    overflow: auto;
}
.teensarey{
    display: block;
    overflow: auto;
    margin-top: 30px;
    position: absolute;
    bottom: 10px;
}
.logoitem{
 padding: 5% 0 20% 0;
}
.back{
     position: absolute;
     top: 20px;
     right:27%;
}
.logintransparent{
    color: rgb(20, 21, 73);
    height: 30px;
    height: 49px;
    margin-top: 25px;
    font-weight: bold;
    border-color: rgb(20, 21, 73);
    border-width: 2px;
    background-color: transparent;
}
.logintransparent:hover, .logintransparent:focus {
    color: #fff;
    height: 30px;
    height: 49px;
    margin-top: 25px;
    font-weight: bold;
    border-color: rgb(20, 21, 73);
    border-width: 2px;
    background-color: rgb(20, 21, 73);
}
.tagline{
    color: rgb(20, 21, 73);
    font-weight: 600;
    text-align: center;
    margin-top: 20px !important;
}
.pageTitle {
    color: rgb(20, 21, 73);
}
.rightButton{
    text-align: right;
}
.primarybutton{
   background: rgb(20, 21, 73); 
   border-color: rgb(20, 21, 73);
   color: #fff;
}
.primarybutton:hover{
    background: rgb(20, 21, 73); 
    border-color: rgb(20, 21, 73);
 }
 h4 span {
    color: rgb(20, 21, 73);
    cursor: pointer;
 }
 .searchBox{
     width: 250px;
     float: right;
     margin-right: 10px;
 }
 .filterextra {
    font-size: 33px !important;
    color: #141549;
}
 /* span i {
    margin-right: 15px;
} */
.headerlogo {
  width:42px;
}
button.ant-btn.ant-btn-default {
    right: 5px;
}
.makeStyles-fakeToolbar-4 {
    min-height: 39px !important;
}

 /* Sell order table */

 ul.ordertype {
    padding: 0;
    width: 120px;
    float: left;
}
ul.ordertype li {
    padding: 8px 9px;
    border: 1px solid #f1f1f1;
    border-left: 0;
    border-top: 0;
    cursor: pointer;
    color: rgb(20, 21, 73);
    
}

ul.ordertype li:hover, 
ul.ordertype li.active  {
    background: #d8d8d8
}
ul.tables {
    padding-left: 16px;
    list-style: none;
    float: left;
    width: calc(100% - 100px);
}

.retails{
    padding-left: 0px;
    list-style: none;
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
    
}


li.thumbnail {
    background: #F7F7F7;
    border-radius: 5px;
}

.table {
    width: 100%;
    height: 100px;
    border: 0px solid #efefef;
    background: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid #ccc;
    cursor: pointer;
}
.inprogress {
    border-bottom: 3px solid rgb(20, 21, 73);
}
.splite {
    height: 30px;
}

ul.tables {
  
    align-items: center;
    padding-left: 16px;
    list-style: none;
    width: calc(100% - 120px);
}
ul.tables li {
    width: 15.5%;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    height: 130px;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}
.active_status{
  border-radius: 50%;
  height: 9px;
  width:  9px;
  display: inline-block;
  background: #141549;
}
.table:hover {
    background: #fff;
} 
.productSide{
    width:60%;
    float: left;
}
.orderside{
    width: 40%;
    float: left;
}
.orderItems {
    padding: 15px 10px;
    background: #efefef;
    margin-left: 18px;
}
a.rightitem {
    float: right;
    margin-right: 10px;
}
.customerSearch{
    margin-top: 15px;
    margin-bottom: 15px;
}
.orders{
    width: 100%;
}
.orders tr {
    border-bottom: 1px solid #ccc;
}
.orders tr td, .orders tr th {
    padding: 5px 3px;
    /* text-align: center; */
}

span.circle {
    height: 24px;
    width: 24px;
    display: inline-block;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 11px;
}
.qty {
    padding: 2px 3px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    width: 25px;
}
ul.product li {
    width: 23%;
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    height: 136px;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 10px;
    background: #e8e5e5;
    border-radius: 6px;
    overflow: hidden;
}
  
.plushicon {
    font-size: 96px !important;
    position: relative;
    top: 20px;
    color: #dcdcdc;
}
.placeholder{
    position: absolute;
    z-index: 0;
}
.table.prod {
    background: #000000ad; 
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.pdetailsName{
    color:#fff;
    font-weight: bold;
    font-size: 22px;

}

.prod .tablename{
    color: #fff;
    font-weight: 500;
}


.product .table {
    border-bottom: 3px solid #7ea4e2ab;
}
.price {
    font-size: 11px;
    color: #fff;
}
.textprice {
    border-bottom: 1px dotted #ccc;
}
.bigbutton{
    width: 49%;
    padding: 10px;
    cursor: pointer;
    color:#fff;
    border:1px solid ;
}
.retailOrder {
  
    width: 100%;
    padding: 10px;
    cursor: pointer;
    color:#fff;
    border:1px solid ;
    background: rgb(20, 21, 73);
    border: 1px solid rgb(20, 21, 73);
    border-radius: 3px;
}

.receiptOrder{
    background: #fff!important;
    border: 1px solid #ccc !important;
    margin-bottom: 25px;
    color: #000;
    font-weight: bold;
}
.orderTicket{
    background: rgb(20, 21, 73);
    border: 1px solid rgb(20, 21, 73);
}
.chargeOrder{
    background: rgb(102, 254, 203);
    border:1px solid rgb(102, 254, 203);
    color: rgb(20, 21, 73)
}
.bulk_discount{
   
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    position: relative;
}

.smallbutton{
    padding: 5px;
    cursor: pointer;
    color:#fff;
    border:1px solid ;
    background: rgb(20, 21, 73);
    border:1px solid rgb(20, 21, 73);
    margin: auto;
    
}
.discountbox {
    padding: 10px;
    position: absolute;
    background: #fff;
    width: 212px;
    bottom: 44px;
    left: 16px;
    display: block;
    box-shadow: -1px 2px 11px 3px #00000030;
    border: 1px solid #ccc;
    z-index: 9;
}
.coupn {
    left: 134px;
}
.discountboxarrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    position: absolute;
    bottom: -15px;
    box-shadow: 0 0 0px 0px #ccc;
    left: 92px;
}

.removeitem {
    position: absolute;
    bottom: 10px;
    right: 156px;
}
.payment_type {
    margin-right: 5px;
    padding: 4px 8px;
    margin-bottom: 7px;
}
.datapicket{
    width:75%;
}
.timepicket{
    width:25%;
}
label {
    margin-bottom: 4px;
    display: block;
}
.chargeOptions{
  /* position: absolute; */
  background: #fff;
  max-width: 441PX;
  margin: auto;
  float: none;
  box-shadow: 0px 0px 17px 0px #00000061;
  padding: 33px 15px !important;
}
.fullfidth{
    width:100%;
}

.statu {
    padding: 0 5px;
    margin-left: 5px;
    color:#fff;
    display: inline-block;
}

.fullfilestatus.statu {
    background: #30adb3;
}
span.paid.statu {
    background: rgb(102, 254, 203);
}
.reciept_header{
 display: block;
}
.statusTitle{
    font-weight: 600;
    font-size: 14px;
}
.line {
    border-bottom: 1px solid #efe6e6;
    margin: 9px 0;
}
.billview{
    width: 100%;
}

.billview tr td, .billview tr th{
 padding: 8px;
}
.billview tr {
    border-bottom: 1px solid #efe6e6;
}
.billview tr.total {
    border-bottom: 0px solid #efe6e6;
}
.ant-row{
    clear: both;
}
.widget{
    background: #fff;
    height:117px;
    padding: 21px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 8px 12px 0px #00000033;
}
.welcome{
    font-size: 25px !important;
}
.pimage {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #868080;
    /* box-shadow: 1px 0px 5px 0px #000000b0; */
    float: left;
    margin-right: 5px;
}
.pname{
    text-align: left !important;
    font-weight: 600;
}
.pname span {
    position: relative;
    top:3px;
}
.b-flying-img {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 60%;
    opacity: 0;
    z-index: 5;
    animation:fly 0.8s 1;
    -webkit-animation:fly 0.8s 1;
    -webkit-backface-visibility: hidden;
  }
  .MuiIconButton-label{
     color:#fff;
  }
  
  @keyframes fly {
      0% {
          -moz-transform: rotate(0deg); /* Для Firefox */
          -ms-transform: rotate(0deg); /* Для IE */
          -o-transform: rotate(0deg); /* Для Opera */
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
      }
      100% {
          -moz-transform: rotate(360deg); /* Для Firefox */
          -ms-transform: rotate(360deg); /* Для IE */
          -o-transform: rotate(360deg); /* Для Opera */
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }
  
  @-webkit-keyframes fly {
      0% {
          -webkit-transform: rotate(0deg); /* Для Safari, Chrome, iOS */
      }
      100% {
          -webkit-transform: rotate(360deg); /* Для Safari, Chrome, iOS */
      }
  }
 .move {
  top: 70%;
  left: 90%;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  transition: 0.4s;
  position: fixed;
 }

 .pdetails {
    background: #141549;
    padding-bottom: 4px;
    color: #fff;
}
.viewProducts, .viewbill{
    display: none;
}
.table_image{
   width:60px;
}
.billingbooking {
    float: right;
}
.blink{
    box-shadow: 0 0 8px 6px #8100e445
}
.viewProductempty {
    margin: auto;
    float: none;
    position: relative;
    display: block;
    margin-top: 10px;
    display: none;
}
.viewProductemptytitle{
    margin: auto;
    float: none;
    position: relative;
    display: block;
    margin-top: 20%;
    text-align: center;
}
.MuiAppBar-colorPrimary {
    background-color: #66fecb !important;
}
.pad {
    padding: 15px;
}

.pad .ant-radio-group {
    display: block;
    width: 100%;
}

.pad .ant-radio-button-wrapper {
    display: block !important;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    border-radius: 5px !important;
}
 .productbitton {
     display: none;
 }

 .center {
     text-align: center;
 }
  .primary{
      color: #141549  !important;
  }
 .paymentoptions {
    margin: auto;
    float: none;
    overflow: auto;
}
.Paymentoption {
    display: inline-block;
    width: 33.33%;
    padding: 21px;
    border: 1px solid #15164c2e;
    transition: 0.5s;
    cursor: pointer;   
}

.Paymentoption .MuiSvgIcon-root {
    font-size: 30px;
    color: #141549;
    transition: 0.5s;
}
span.ant-typography.paymenttype {
    color: #141549;
    font-weight: bold;
    transition: 0.5s;
}

.Paymentoption:hover .MuiSvgIcon-root, .Paymentoption.active .MuiSvgIcon-root{
    color: #fff;
    transition: 0.5s;
}
.active span.ant-typography.paymenttype , .Paymentoption:hover .paymenttype  {
    color: #fff;
    transition: 0.5s;
    
}

.Paymentoption:hover, .Paymentoption.active{
    background-color: #141549;
    transition: 0.5s;
}
.completemark {
    font-size: 120px !important;
    color: #66fecb;
}
 .receipticonb {
     float: left;
 }

 /* .completeMasr {
    line-height: 89px;
} */
 .mgb-50{
     margin-bottom: 10px !important;
 }
 .backArrow {
    font-size: 26px;
    position: relative;
    top: 6px;
}
.ant-modal-header {
    background: #66fecb;    
}
.one, .two, .three {
  border-bottom: 0;
}
.two,.five{
    border-left :0;
    border-right: 0;
}
.relogo img {
    width: 80px;
}
.renumber {
    text-align: right;
    font-weight: bold;
}
.ttotal {
    text-align: right;
    margin-right: 13%;
    float: right;
    font-size: 16px;
}
.closerb {
    position: absolute;
    right: -16px;
    top: -17px;
}
.shate{
   float: none;
   margin: auto;
   text-align: center;
}
.hide{
    display: none;
}
.show{
  display: block;
}
.receipt {
    position: absolute;
    z-index: 99999;
    top: -12px;
    background: #fff;
    left: 0;
    padding: 28px !important;
    height: 95vh;
}
.receipt .orderItems {
       margin-left: 0px;
}

.iconastyle {
    cursor: pointer;
    color : #525252;
}
.iconastyle:hover {
    color: #000;
}

.margin2{
  margin: 5px !important;
}
.fiterButtons label {
   width: 33.3%;
   text-align: center;
   border-radius: 0 !important;
}
.paymentmethod{
  width :100%;
}
.paymentmethod label{
    width: 30%;
}
form.ant-form.ant-form-vertical.centerform {
    max-width: 600px;
    margin: auto;
}
.centerbox{
    max-width: 600px;
    margin: auto;
}
.searchBoxw{
    width: 100%;
    overflow: auto;
    display: block;
    float: left;
}
.searchBoxw_item{
    width: 100%;
    overflow: auto;
    display: block;
    float: left;
    margin-bottom: 40px;
}
.right {
    text-align: right;
    padding-right: 29px !important; 
    box-sizing: border-box !important; 
}
.strong {
    font-weight: 700;
    color: #141549;
}
.usredb{
    height: 40px;
    width : 40px;
    line-height: 40px;
    text-align: center;
    background-color: #141549;
    color:#fff;
    display: block;
    border-radius: 50%;
}

ul.parmissionslist {
    padding: 0;
    list-style: none;
}
span.ppa {
    font-size: 14px;
    font-weight: bold;
}
div.centerform {
    max-width: 400px;
}
ul.parmissionslist {
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
    margin: 0;
}
span.ppa.toggle {
    float: right;
}
.demo-option-label-item > span {
    margin-right: 6px;
    width : 30px;
    font-weight: bold;
    display: inline-block;
  }

 .rightd {
    float: right;
   }
   lable {
     font-weight: bold; 
   }
  .rightfloat {
      float:right;
      margin-right:10px;
  } 

  .customerSearch_retail{

    width : calc(100% - 129px);
  }
  
  .ant-tag-checkable {
    border-color: #141549;
    padding: 4px 9px;
    font-size: 13px;
}

 @media screen and (max-width: 1200px){
    .orders tr td, .orders tr th {
        font-size: 11px;
    }
}
@media screen and (max-width: 1000px){
     
    .viewProducts, .viewbill{
        display: inherit;
    }
    
    .orderItems {
        padding: 15px;
        background: #efefef;
        margin-left: 0px;
        overflow: auto;
        max-height: 434px;
    }
    .productSide {
        width: 100%;
    }
    .orderside {
        position: absolute;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        margin: 0;
        background: #efefef;
        z-index: 9;
        height: 100%;
    }
    .searchbutton{
        width: calc(100% - 97px);
        margin-right: 10px;
        float: left;
    }
    ul.tables li {
        width: 21.5%;
    }

    .ant-table-content {
        overflow: auto;
    }
    .ant-table-body {
        min-width: 600px;
    }
}
@media screen and (max-width: 991px){ 
   
    .viewProductempty {
        display: block;
    }

    .productbitton {
        display: block;
        position: fixed;
        top: 621px;
        z-index: 9;
    }
    .chargeOptions, .billingbooking{
            padding: 0 !important;
    }


}
@media screen and (max-width: 500px){
    ul.product li {
        width: 48%;
        margin-right: 1%;
        margin-left: 1%;
    }
    ul.ordertype {
      
        width: 66px;
    }
    ul.tables {
        width: calc(100% - 66px);
    }
    ul.tables li {
        width: 32%;
        margin-right: 1%;
    }
    .pepar{
        padding: 10px !important;
    }
    .Paymentoption {
        padding: 20px;
        height: 105px;
        float: left;
    }
    .searchBox{
        width: 180px;
        
    }
    .fiterButtons label {
        width: 50%;
    }
    .paymentmethod label {
        width: 46%;
    }
}

@media screen and (max-width: 400px){
    ul.tables li {
        width: 49%;
        margin-right: 1%;
    }
}